.metronomo {
    text-align: center;
    margin-top: 20px;
    color: black;
  }
  
  .controls {
    margin-top: 20px;
    color: black;
  }
  
  button {
    margin-right: 10px;
    color: black;
  }
  